$component-name: c-loadings;

$loader-color: $theme-color-1;
$loader-size: rem(100);

.#{$component-name} {
	&-spinner {
		background: #fff;
		display: inline-block;
		height: $loader-size;
		overflow: hidden;
		width: $loader-size;
		& .spinner-animation {
			backface-visibility: hidden;
			height: 100%;
			position: relative;
			transform: translateZ(0) scale(1);
			transform-origin: 0 0; /* see note above */
			width: 100%;
			& div {
				animation: spinner-animation 0.8s linear infinite;
				border-radius: 50%;
				box-shadow: 0 rem(3) 0 0 $loader-color;
				box-sizing: content-box;
				height: 80%;
				left: 10%;
				position: absolute;
				top: 10%;

				/*transform-origin: 40% 40.95%;*/
				width: 80%;
			}
		}
	}

	&-default {
		display: inline-block;
		height: $loader-size / 2;
		position: relative;
		width: $loader-size / 2;
		& div {
			animation: default-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
			background-color: $loader-color;
			display: inline-block;
			position: absolute;
			width: 25%;
			&:nth-child(1) {
				animation-delay: -0.24s;
				left: 0;
			}
			&:nth-child(2) {
				animation-delay: -0.12s;
				left: 30%;
			}
			&:nth-child(3) {
				left: 60%;
			}
		}
	}
}

@keyframes spinner-animation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes default-animation {
	0% {
		height: 100%;
		top: 10%;
	}
	50%,
	100% {
		height: 60%;
		top: 30%;
	}
}
